doc

# I sometimes type "]" as a second command line argument to vi by mistake.
# The following filename is being ignored because a file 
# named "]" has slipped into the master branch more than once...
]

composer-doc/*.css
composer-doc/*.js
composer-doc/*.html
composer-doc/*.tex
composer-doc/*.log
composer-doc/*.out
composer-doc/*.pdf
composer-doc/*.aux

*.swp

planet-docs
compiled
*~
.DS_Store
*.bak
coverage/
